* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:white;
	
	font-family: 'Times New Roman', Times, serif;
}
textarea{
	width: 100%;
	height: 40%;
}
.submit-btn{
    background-color: #2196f3;
    border: none;
	color:white;
    padding: 10px;
    width: 50%;
    cursor: pointer;
	font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
	position: relative;
	left: 80px;
	top: 15px;
	cursor:pointer;
}
input[type=text]{
	color: black;
}
.pay{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 15px;
    font-weight: 700;
	position: relative;
	left:4px;
	padding: 10px 15px;
	border:none;
	border-radius: 30px;
	cursor: pointer;
}
#browser{
	color: black;
}
h5{
	font-size: 19px;
	text-align: center;
}
.home-btn{
    display: inline;
    padding: 15px;
    background-color: #2196f3;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    font-weight: 600;
}
.popup h2{
    font-size: 32px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: 30px;
}

.card-details {
	display: flex;
	flex-direction: column;
	width: 70%;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: black;
	background-image:url("/static/images/stars.jpeg");
    background-position: center;
    background-size: cover;
}

.form-card1 {
	width: 50%;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	/*background-color: rgb(31, 25, 40);*/


}
.form-card2 {
	width: 50%;
	color: white;
	top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px;
    padding-left: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	/*background: rgb(52,40,70);
	background: linear-gradient(90deg, rgba(52,40,70,1) 34%, rgba(5,22,31,1) 100%, rgba(71,168,177,1) 100%);}*/

}


h2 {
	margin-bottom: 20px;
	color:white
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

select,
textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	color: black;
} 
select, option{
	color:black;
}
div.container1{
	width: 100%;
	height: 100vh;
	background-image:url("/static/images/pexels-felix-mittermeier-956999.jpg");
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
  }
  .navbar{
	height: 12%;
	display: flex;
	align-items: center;
  }
  .logo{
	position: absolute;
	left: 15px;
	width:200px;
	cursor: pointer;
  }
  nav{
	flex:1;
	text-align: right;
  }
  nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
  }
  nav ul li a{
	text-decoration: none;
	color:#fff;
	font-size: 13;
  }
  nav .dropdown {
			position: relative;
		}
		nav .dropdown-content {
			display: none;
			position: absolute;
			top: 100%;
			left: -30px;
			background-color: #181f4c;
			min-width: 150px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
			border-radius: 5px;
		}
		nav .dropdown:hover .dropdown-content {
			display: block;
		}
		nav .dropdown-content a {
			color: #fff;
			padding: 10px;
			display: block;
			text-decoration: none;
			text-align: center;
		}
		nav .logout-icon {
			font-size: 20px;
			margin-left: 10px;
		}  

button{
	background-color: rgb(43, 142, 203);
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 20px;
}