{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ivy Streams</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/call.css' %}">
</head>
<body>
    <div class="container">
        <a href="/"><img src="{% static 'images/finallogo.png' %}" class="logo"></a>
        <div class="row">
                <h1>Fluential</h1>
                <h4>Uniting Nations Through Speech</h4>
            </div>
        </div>
    </div>
    <button id="join-btn"><b>JOIN STREAM</b></button>

    <div id="stream-wrapper">
        <div id="stream-controls">
            <a href="/">            <button id="leave-btn">Leave Stream</button>
            </a>
                        <button id="mic-btn">Mic On</button>
        </div>
    </div>
    
</body>
<!-- <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script> -->
<script src="/static/js/AgoraRTC_N-4.17.2.js"></script>
<script src='/static/js/call.js'></script>
</html>